*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	
}
.container{
	width:1170px;
	margin-left:auto;
	margin-right:auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-container{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-1{
	width:8.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-2{
	width:16.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-3{
	width:25%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-4{
	width:33.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-5{
	width:41.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-6{
	width:50%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-7{
	width:58.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-8{
	width:66.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-9{
	width:75%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-10{
	width:83.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-11{
	width:91.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-item-12{
	width:100%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}

/* header section starts */
.header{
	background-color:red;
	height:100px;
	width:auto;
}
.mentor{
	background-color:black;
	height:50px;
	width:100%;
	margin:20px 0;
}
.nav-bar{
	background-color:black;
	height:50px;
	margin:20px 0;
	width:auto;
}
/* header section ends */

/* background-image section starts */
.section-1{
	background-color:#80008061;
	padding:85px 0;
}
.image-content{
	background-color:black;
	height:100px;
	width:auto;
}
/* background-image section starts */


/* company info starts */
.section-2{
	background-color:gray;
	padding:85px 0;
}
.info{
	background-color:orange;
	height:100px;
	width:auto;
}
.info-image{
	background-color:#00ff4e91;
	height:100px;
	width:auto;
}
/* company info ends */


/* course-no section starts */
.section-3{


	background-color:brown;
	padding:80px 0;
}
.student-no{
	background-color:yellow;
	height:100px;
	width:auto;
}
.courses{
	background-color:yellow;
	height:100px;
	width:auto;
}
.events{
	background-color:yellow;
	height:100px;
	width:auto;
}
.trainers{
	background-color:yellow;
	height:100px;
	width:auto;
}

/* course-no section ends */

/* review section starts */
.section-4{
	background-color:gray;
	padding:100px 0;
}
.choose{
	background-color:pink;
	height:300px;
	width:auto;
}

/* .learn-box{
	background-color:green;
} */
.air{
	background-color:green;
	height:200px;
	width:auto;
	display:flex;
	flex:0 0 auto;
	 align-items:center; 
}
.box-1{
	background-color:white;
	height:100px;
	width:auto;
}
.box-2{
	background-color:white;
	height:100px;
	width:auto;
}
.box-3{
	background-color:white;
	height:100px;
	width:auto;
}
 .align{
	align-items:center;
}
/* review section ends */

/* softwares section starts */
.section-5{
	background-color:#ecc6ec;
	padding:85px 0;
}
.tool-1{
	background-color:red;
	height:80px;
	width:auto;
}
.tool-2{
	background-color:red;
	height:80px;
	width:auto;
}
.tool-3{
	background-color:red;
	height:80px;
	width:auto;
}
.tool-4{
	background-color:red;
	height:80px;
	width:auto;
}
.tool-5{
	background-color:green;
	height:80px;
	width:auto;
	margin-top:20px;
}
.tool-6{
	background-color:green;
	height:80px;
	width:auto;
	margin-top:20px;
}
.tool-7{
	background-color:green;
	height:80px;
	width:auto;
	margin-top:20px;
}
.tool-8{
	background-color:green;
	height:80px;
	width:auto;
	margin-top:20px;
}
.tool-9{
	background-color:#b366ff;
	height:80px;
	width:auto;
	margin-top:20px;
}
.tool-10{
	background-color:#b366ff;
	height:80px;
	width:auto;
	margin-top:20px;
}
.tool-11{
	background-color:#b366ff;
	height:80px;
	width:auto;
	margin-top:20px;
}
.tool-12{
	background-color:#b366ff;
	height:80px;
	width:auto;
	margin-top:20px;
}

/* softwares section ends */


/* prize section starts */
.section-6{
	background-color:#cccc00;
	padding:50px 0;
}
.prize-1{
	background-color:red;
	height:300px;
	width:auto;
	
}
.prize-2{
	background-color:red;
	height:300px;
	width:auto;
	
}
.prize-3{
	background-color:red;
	height:300px;
	width:auto;
	
}
.prize-0{
	background-color:black;
	height:80px;
	width:auto;
	
}
.flex-container.hello{
	margin-top:30px;
}



/* prize section ends */

/* photo section starts */
.section-7{
	background-color:cyan;
	padding:50px 0;
	
}
.photo1{
	background-color:orange;
	height:300px;
	width:auto;
}
.photo2{
	background-color:orange;
	height:300px;
	width:auto;
}
.photo3{
	background-color:orange;
	height:300px;
	width:auto;
}


/* photo section ends */

/* credit section starts */
.section-8{
	background-color:#cc000096;
	padding:50px 0;
}
.credit-1{
	background-color: #e600e6;
	height:300px;
	width:auto;
}
.credit-2{
	background-color: #e600e6;
	height:300px;
	width:auto;
}
.credit-3{
	background-color: #e600e6;
	height:300px;
	width:auto;
}
.credit-4{
	background-color: #e600e6;
	height:300px;
	width:auto;
}

/* credit section ends */


/* copyright section starts */
.section-9{
	background-color: #b3ccff;
	padding:80px 0;
	
	
}
.copy1{
	background-color:#cc0044;
	height:100px;
	width:auto;
}
.copy2{
	background-color:#cc0044;
	height:100px;
	width:auto;
}
.flex-container.space{
	justify-content:space-between;
}  

/* copyright section ends */